<%- contentFor('body') %>
<div class="col-sm-2 px-1 bg-dark min-vh-100">
    <div class="py-2 sticky-top flex-grow-1">
        <nav class="flex-sm-column">
            <ul class="sidebar-nav"> 
                <li class="sidebar-brand">
                    <a href="#">Dwitter</a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/home">Home</a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/profile">Profile</a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/following">Following</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="col" id="main">
        <div id="content">
            <div class="col" id="main">
                <div class="container">
                    <% for (user of users) { %>
                        <div class="container-fluid card card-outline-secondary my-4">
                            <div class="card-body">
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <p class="mt-0 user"> <%= user["nickname"] %>
                                        <br>
                                        <small class="text-muted"><%= user["id"] %></small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>