<%- contentFor('body') %>
<div class="wrapper">
    <a class="menu-toggle rounded" href="#">
        <span class="oi oi-menu"></span>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#">SerieAll</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#">About</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#">Services</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#">Portfolio</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>
<div id="content">
    <div id="container-fluid" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <form class="form-inline my-2 my-lg-0" action="" >
                                <input class="form-control mr-sm-2" name="palavraBusca" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-info my-2 my-sm-0" type="submit">Pesquisar</button>
                                </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="container-fluid card my-4">
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <textarea class="form-control" id="textoDuvida" rows="3" placeholder="O que está acontecendo?" name="texto"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Postar</button>
                </form>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="container-fluid card card-outline-secondary my-4">
            <div class="card-body">
                <div class="media mb-4">
                <div class="media-body">
                    <p class="mt-0 user">mrayanealves
                        <br>
                        <small class="text-muted">Maria Rayane Alves</small>
                    </p>
                    <p>Estou com fome</p>
                </div>
                <div class="media mb-4 container-like-deslike">
                    <a href="">
                        <div class="row">
                            <div class="col-md-1 like"><span class="oi oi-thumb-up"></span></div>
                            <div class="col-md-7"><p class="like">0</p></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="row">
                            <div class="col-md-1 deslike"><span class="oi oi-thumb-down"></span></div>
                            <div class="col-md-7"><p class="deslike">0</p></div>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            </div>
        </div>
    </div>
</div>
