<%- contentFor('body') %>
<div id="content">
    <div class="container">
        <div class="container-fluid card card-outline-secondary my-4">
            <div class="card-body">
                <div class="media mb-4">
                    <div class="media-body">
                        <p class="mt-0 user"> <%= user["nickname"] %>
                            <br>
                            <small class="text-muted"><%= user["id"] %></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
